.nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 5%;

  &__cupon {
    color: white;
  }
  img {
    width: 100%;
  }
}

@media (max-width: 600px) {
    .nav{
      img{
        width: 60%;
      }
    
      &__cupon{
        font-size: 12px;
      }
    }
}