@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  background: #1bd6ff;
  padding: 4% 0;
}

.newsletter {
  color: #686868;
  background-color: white;
  padding: 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter__box {
  padding: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 30px rgba(161, 161, 161, 0.3);
          box-shadow: 0px 0px 30px rgba(161, 161, 161, 0.3);
}

.newsletter__box p {
  padding-top: 5%;
  padding-left: 10%;
}

.newsletter__text-input {
  margin-left: 10%;
}

.newsletter__text-input p {
  padding: 5% 0;
}

.button {
  background-color: #ff298a;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 5px 5px;
  -webkit-box-shadow: 0px 0px 30px rgba(161, 161, 161, 0.5);
          box-shadow: 0px 0px 30px rgba(161, 161, 161, 0.5);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 3%;
  cursor: pointer;
  outline: none;
}

.inputText {
  margin-top: 2%;
  border: none;
  border-radius: 5px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px rgba(161, 161, 161, 0.5);
          box-shadow: 0px 0px 30px rgba(161, 161, 161, 0.5);
  color: gray;
  width: 300px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 6px;
  outline: none;
}

::-webkit-input-placeholder {
  font-size: 14px;
  color: gray;
  padding: 10px;
}

:-ms-input-placeholder {
  font-size: 14px;
  color: gray;
  padding: 10px;
}

::-ms-input-placeholder {
  font-size: 14px;
  color: gray;
  padding: 10px;
}

::placeholder {
  font-size: 14px;
  color: gray;
  padding: 10px;
}

.marca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: white;
  padding-top: 2%;
}

.marca img {
  width: 2%;
}

@media (max-width: 600px) {
  h1 {
    font-size: 45px;
  }
  p {
    font-size: 12px;
  }
  h3 {
    font-size: 12px;
  }
  h2 {
    font-size: 18px;
  }
  .inputText {
    width: 300px;
    height: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 6px;
    outline: none;
  }
  ::-webkit-input-placeholder {
    font-size: 14px;
    color: gray;
    padding: 10px;
  }
  :-ms-input-placeholder {
    font-size: 14px;
    color: gray;
    padding: 10px;
  }
  ::-ms-input-placeholder {
    font-size: 14px;
    color: gray;
    padding: 10px;
  }
  ::placeholder {
    font-size: 14px;
    color: gray;
    padding: 10px;
  }
  .newsletter {
    color: #686868;
    background-color: white;
    padding: 15% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .newsletter p {
    padding-top: 5%;
    padding-left: 10%;
  }
  .newsletter__text-input {
    margin-left: 10%;
  }
  .newsletter__text-input p {
    padding: 5% 0;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 5%;
}

.nav__cupon {
  color: white;
}

.nav img {
  width: 100%;
}

@media (max-width: 600px) {
  .nav img {
    width: 60%;
  }
  .nav__cupon {
    font-size: 12px;
  }
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
  padding: 0 5%;
}

.banner__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  color: white;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.banner__text-input {
  margin-top: 5%;
  padding-left: 6px;
}

.banner__text h1 {
  font-size: 50px;
}

.banner__imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 3%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.banner__imagen img {
  width: 100%;
}

.button__hidden {
  display: none;
}

@media (max-width: 600px) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 90%;
    margin-bottom: 10%;
  }
  .banner__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    color: white;
  }
  .banner__text-input {
    margin-top: 5%;
  }
  .banner__text h1 {
    font-size: 45px;
  }
  .banner__text p {
    font-size: 14px;
  }
  .banner__imagen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    padding: 3%;
  }
  .banner__imagen img {
    width: 100%;
  }
  .button {
    display: none;
  }
  .button__hidden {
    display: block;
    background-color: #ff298a;
    /* Green */
    border: none;
    color: white;
    border-radius: 50px;
    padding: 8px 10px;
    -webkit-box-shadow: 0px 0px 30px rgba(161, 161, 161, 0.5);
            box-shadow: 0px 0px 30px rgba(161, 161, 161, 0.5);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
  }
  .inputText {
    width: 150px;
    height: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 6px;
    outline: none;
  }
}

.values {
  color: #686868;
  background-color: white;
  padding-top: 8%;
  z-index: -3;
}

.values__title {
  margin-left: 10%;
  border-left: 4px solid #ff298a;
  padding: 0 2%;
}

.values__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  padding: 5%;
  margin: 0 5%;
}

.values__box-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 30px rgba(161, 161, 161, 0.3);
          box-shadow: 0px 0px 30px rgba(161, 161, 161, 0.3);
  margin-right: 5%;
}

.values__box-one img {
  color: #1bd6ff;
  width: 30%;
  margin-top: 5%;
}

.values__box-one h3 {
  padding: 0 10%;
}

.values__box-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 30px rgba(161, 161, 161, 0.3);
          box-shadow: 0px 0px 30px rgba(161, 161, 161, 0.3);
  margin-right: 5%;
  color: #1bd6ff;
}

.values__box-two img {
  color: #1bd6ff;
  width: 30%;
  margin-top: 5%;
}

.values__box-two h3 {
  padding: 0 10%;
}

.values__box-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 30px rgba(161, 161, 161, 0.3);
          box-shadow: 0px 0px 30px rgba(161, 161, 161, 0.3);
  margin-right: 5%;
}

.values__box-three img {
  color: #1bd6ff;
  width: 30%;
  margin-top: 5%;
}

.values__box-three h3 {
  padding: 0 10%;
}

.values__box h3 {
  font-size: 16px;
  color: #ff298a;
  margin-top: 10%;
  margin-bottom: 10%;
}

.values__what {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5%;
  position: relative;
}

.values__what-left {
  width: 80%;
  z-index: 2;
}

.values__what-left p {
  margin-top: 15%;
  margin-left: 10%;
  z-index: 2;
}

.values__what-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.values__what-right img {
  width: 100%;
  z-index: 2;
}

#background {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 50%;
  background-color: #1bd6ff;
  z-index: 1;
}

@media (max-width: 600px) {
  .values__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60%;
    padding: 5%;
    margin-left: 20%;
  }
  .values__box-one {
    margin-bottom: 5%;
  }
  .values__box-two {
    margin-bottom: 5%;
  }
  .values__box-three {
    margin-bottom: 5%;
  }
  .values__box h3 {
    font-size: 14px;
    text-align: center;
  }
  .values__box img {
    width: 20%;
  }
  .values__what {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .values__what img {
    width: 80%;
    margin-left: 10%;
  }
}

.gomunch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gomunch__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gomunch__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gomunch p {
  margin: 5%;
  padding: 5%;
}

@media (max-width: 600px) {
  .gomunch img {
    width: 80%;
    margin-left: 15%;
  }
  .gomunch__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .gomunch__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */